<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout 4</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">Logo</div>
        <main class="clearflix">
            <div class="left">
                <aside>side bar</aside>
                <nav>Navigation</nav>
            </div>
            <div class="right">
                <header>Header/Banner</header>
                <article>Body Area</article>
            </div>
        </main>
        <footer>Footer</footer>
    </div>

    
</body>
</html>