<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Start</title>
</head>
<body>
    <header>

    </header>

    <nav>

    </nav>

    <main>
        <article>

        <h1>Title to the man tag</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ad odio consequuntur doloribus magnam minima sunt consequatur quis atque voluptatum, quo repellendus soluta neque explicabo facere a natus repudiandae sed.</p>
        <h1>Sub-Title to the main tag: the continuation</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ad odio consequuntur doloribus magnam minima sunt consequatur quis atque voluptatum, quo repellendus soluta neque explicabo facere a natus repudiandae sed.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ad odio consequuntur doloribus magnam minima sunt consequatur quis atque voluptatum, quo repellendus soluta neque explicabo facere a natus repudiandae sed.</p>
        </article>
        
        <aside>
        <h2>Lecture Dates</h2>

        <p>11/07 - Lecture on Caesar</p>
        <p>11/17 - Lecture on Abiner</p>
        <p>11/27 - Lecture on Aleni</p>
        <p>11/21 - Lecture on Lona</p>
        <p>11/05 - Lecture on Ruby</p>
        </aside>
    </main>
</body>
</html>