<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout 5</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">Logo</div>
            <div class="navigator">Navigator</div>
        </nav>
        
        <div class="row clearflix">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row clearflix">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row clearflix">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row clearflix">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="boxes clearflix">
            <div class="box">box</div>
            <div class="box">box</div>
            <div class="box">box</div>
        </div>
        
        <footer>Footer</footer>
    </div>
</body>
</html>